# 初学者向けPandas100本ノックver1.0.7
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  
・Python3エンジニア認定データ分析試験にも沿った問題内容   
・Pandasの各メソッドの説明は以下のサイトが分かりやすいです  
 　[note.nkmk.me](https://note.nkmk.me/pandas/)  
・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のpandasのバージョンは1.1.0**
  
作成日:2020年9月24日  
最終更新日:2023年1月16日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

In [1]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

import pandas as pd
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pd.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pd.read_csv('../input/data1.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pd.read_csv('../input/data1_2.csv')
df4 = pd.read_csv('../input/data1_3.csv')
df5 = pd.read_csv('../input/data2.csv',encoding='cp932')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

[answer0]

このように回答コード例がここに表示されます。
各問題の回答コード例を表示するときはprintの前の
#を消して実行して下さい。

コード例をセル内にコピー&ペーストし
実行すると、正解のデータが表示されます

# Pandas基礎 (1 - 13)

In [6]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
#print(ans[1]) #回答表示
df = initialize1() #初期化
print(df.head())

print(ans[1])

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

     age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.00      0      0   24160  211.3375       B5        S    2    NaN
1   0.92      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.00      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.00      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
[answer1]

df.head()


[tips]
.head()はデフォルトで先頭5行表示
()に表示したい行数を入れる
先頭10行表示は .head(10)

In [9]:
# 【2】
# dfに読み込んだデータの最後の5行を表示
#print(ans[2]) #回答表示
df = initialize1() #初期化
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [13]:
# 【3】
# dfのDataFrameサイズを確認
#print(ans[3]) #回答表示
df = initialize1() #初期化
print(df.size)
print(df.shape, "\n\n")

print(ans[3])

18326
(1309, 14)


[answer3]

df.shape

In [17]:
# 【4】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
#print(ans[4]) #回答表示
import os
df2 = pd.read_csv(r"D:\program\programming\study\Pandas_100_knocks\input\data1.csv")
print(df2.head())
print(ans[4])

  name  class  English  Mathematics  History
0    A      1       80           55       65
1    B      1       55          100       83
2    C      2       65           70       95
3    D      1       40           63       70
4    E      2       76           82       79
[answer4]

df2 = pd.read_csv('../input/data1.csv')
df2.head()


[Tips]
・csvの読み込みはread_csv
・必要に応じてencoding=''を指定する
utf-8
shift_jis (日本語)
cp932 (Windows拡張文字含む日本語)

ex)
df2 = pd.read_csv('../input/data1.csv',encoding='utf-8')

In [ ]:
# 【5】
# dfのfareの列で昇順に並び替えて表示
#print(ans[5]) #回答表示
df = initialize1() #初期化
df.sort_values("fare")
print(ans[5])

[answer5]

df.sort_values('fare')


[Tips]
・要素でソートするときはsort_valuesを使用
・デフォルトでは昇順
・降順でソートしたい場合は ascending=False を指定
・ソートする列を複数指定可能

ex)
降順でソート
df.sort_values('fare', ascending=False)

複数列でのソート
df.sort_values(['fare','age'])

In [27]:
# 【6】
# df_copyにdfをコピーして、最初の5行を表示
#print(ans[6]) #回答表示
df = initialize1() #初期化

df_copy = df.copy()
df_copy.head()


print(ans[6])

[answer6]

df_copy = df.copy()
df_copy.head()


[Tips]
① df_copy = df と ② df_copy = df.copy() では
挙動が異なるので注意が必要。

①の場合、df_copyはdfを参照しているだけのため、
df側の値を変えると、df_copy側の値も変わる
(dfとdf_copyは連動)。

df側の値の変更をdf_copy側に反映させたくない
場合には②のcopy()を使う(dfとdf_copyは独立)。

In [42]:
# 【7】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
#print(ans[7]) #回答表示
df = initialize1() #初期化
df.head()
print(df.dtypes)
print(df["cabin"].dtypes)

print(ans[7])

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object
object
[answer7]

print(df.dtypes)
print(df['cabin'].dtype)


[Tips]
・DataFrameのすべての列のデータ型を確認したい場合は dtypes
・DataFrameの一つの列のデータ型を確認したい場合は dtype

※複数のコードの結果を表示したい場合、printを使用
(printをつけない場合、1行目のdtypesの結果しか表示されない)

In [50]:
# 【8】
# ① dfのpclassの列のデータ型をdtypeで確認
# ② 数値型から文字型に変換し、データ型をdtypeで確認
#print(ans[8]) #回答表示
df = initialize1() #初期化

df["pclass"].dtype
df["pclass"] = df["pclass"].astype(str)


print(ans[8])

[answer8]

print(df['pclass'].dtype)
df['pclass'] = df['pclass'].astype(str)
print(df['pclass'].dtype)


[Tips]
・データ型を変更する場合は astype を使用
・問題40の列同士の結合では、数値列と文字列を
結合しますが、データ型が異なると結合が上手く
いきません。両方の列のデータ型が同じになるように
astypeを使用してデータ型の変換をします。

In [55]:
# 【9】
# dfのレコード数(行数)を確認
#print(ans[9]) #回答表示
df = initialize1() #初期化
print(df.shape[0])
print(len(df))
print(ans[9])

1309
1309
[answer9]

len(df)


[Tips]
dataframeのレコード数(行数)を知りたい時は
len()を使用

In [57]:
# 【10】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
#print(ans[10]) #回答表示
df = initialize1() #初期化

print(df.info())

print(ans[10])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB
None
[answer10]

df.info()


[Tips]
・レコード数(行数)、各列のデータ型、欠損値の有無の
　確認にはinfo()を使用
・RangeIndexがレコード数
・Data columnsがカラム数
・Non-Null Countがレコードが入ってる数
・今回、1309レコードだがcabinのNon-Null Countは
　295なので1309-295のレコードについては欠損している

In [61]:
# 【11】
# dfのsex,cabinの列の要素を確認
#print(ans[11]) #回答表示
df = initialize1() #初期化

print(df["sex"].unique(), df["cabin"].unique())
print(ans[11])

['female' 'male'] ['B5' 'C22 C26' 'E12' 'D7' 'A36' 'C101' nan 'C62 C64' 'B35' 'A23'
 'B58 B60' 'D15' 'C6' 'D35' 'C148' 'C97' 'B49' 'C99' 'C52' 'T' 'A31' 'C7'
 'C103' 'D22' 'E33' 'A21' 'B10' 'B4' 'E40' 'B38' 'E24' 'B51 B53 B55'
 'B96 B98' 'C46' 'E31' 'E8' 'B61' 'B77' 'A9' 'C89' 'A14' 'E58' 'E49' 'E52'
 'E45' 'B22' 'B26' 'C85' 'E17' 'B71' 'B20' 'A34' 'C86' 'A16' 'A20' 'A18'
 'C54' 'C45' 'D20' 'A29' 'C95' 'E25' 'C111' 'C23 C25 C27' 'E36' 'D34'
 'D40' 'B39' 'B41' 'B102' 'C123' 'E63' 'C130' 'B86' 'C92' 'A5' 'C51' 'B42'
 'C91' 'C125' 'D10 D12' 'B82 B84' 'E50' 'D33' 'C83' 'B94' 'D49' 'D45'
 'B69' 'B11' 'E46' 'C39' 'B18' 'D11' 'C93' 'B28' 'C49' 'B52 B54 B56' 'E60'
 'C132' 'B37' 'D21' 'D19' 'C124' 'D17' 'B101' 'D28' 'D6' 'D9' 'B80' 'C106'
 'B79' 'C47' 'D30' 'C90' 'E38' 'C78' 'C30' 'C118' 'D36' 'D48' 'D47' 'C105'
 'B36' 'B30' 'D43' 'B24' 'C2' 'C65' 'B73' 'C104' 'C110' 'C50' 'B3' 'A24'
 'A32' 'A11' 'A10' 'B57 B59 B63 B66' 'C28' 'E44' 'A26' 'A6' 'A7' 'C31'
 'A19' 'B45' 'E34' 'B78' 'B50' 'C87' 'C116' 'C55 C57' 'D50' 'E68' 'E67'
 'C126' 'C68' 'C70' 'C53' 'B19' 'D46' 'D37' 'D26' 'C32' 'C80' 'C82' 'C128'
 'E39 E41' 'D' 'F4' 'D56' 'F33' 'E101' 'E77' 'F2' 'D38' 'F' 'F G63'
 'F E57' 'F E46' 'F G73' 'E121' 'F E69' 'E10' 'G6' 'F38']
[answer11]

print(df['sex'].unique())
print(df['cabin'].unique())


[Tips]
列に含まれる要素の確認にはunique()を使用

In [67]:
# 【12】
# dfの列名一覧をlist形式で表示
#print(ans[12]) #回答表示
df = initialize1() #初期化

print(df.columns.to_list())

print(ans[12])

['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']
[answer12]

df.columns.tolist()


[Tips]
・列名を一覧表示するにはcolumnsを使用
・.tolist()を付けることでlist形式に変換
・ndarray形式で表示する場合は.valuesを使用

df.columns.values

In [70]:
# 【13】
# dfのインデックス一覧をndaaray形式で表示
#print(ans[13]) #回答表示
df = initialize1() #初期化#

print(df.index.values)

print(ans[13])

[   0    1    2 ... 1306 1307 1308]
[answer13]

df.index.values


[Tips]
・インデックスを一覧表示するには.indexを使用
・.valuesを付けることでndaaray形式に変換
・list形式で表示する場合はtolist()を使用

df.index.tolist()

# データ抽出 (14 - 32)

In [72]:
# 【14】
# dfのnameの列のみ表示
#print(ans[14]) #回答表示
df = initialize1() #初期化

print(df["name"])
print(ans[14])

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object
[answer14]

df['name']

In [73]:
# 【15】
# dfのnameとsexの列のみ表示
#print(ans[15]) #回答表示
df = initialize1() #初期化

print(df[["name", "sex"]])

print(ans[15])

                                                 name     sex
0                       Allen, Miss. Elisabeth Walton  female
1                      Allison, Master. Hudson Trevor    male
2                        Allison, Miss. Helen Loraine  female
3                Allison, Mr. Hudson Joshua Creighton    male
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...                                               ...     ...
1304                             Zabour, Miss. Hileni  female
1305                            Zabour, Miss. Thamine  female
1306                        Zakarian, Mr. Mapriededer    male
1307                              Zakarian, Mr. Ortin    male
1308                               Zimmerman, Mr. Leo    male

[1309 rows x 2 columns]
[answer15]

df[['name','sex']]

In [76]:
# 【16】
# dfのindex(行)の4行目までを表示
#print(ans[16]) #回答表示
df = initialize1() #初期化

print(df.head(4))
print(df[:4])

print(ans[16])

   pclass  survived                                  name     sex    age  \
0       1         1         Allen, Miss. Elisabeth Walton  female  29.00
1       1         1        Allison, Master. Hudson Trevor    male   0.92
2       1         0          Allison, Miss. Helen Loraine  female   2.00
3       1         0  Allison, Mr. Hudson Joshua Creighton    male  30.00

   sibsp  parch  ticket      fare    cabin embarked boat   body  \
0      0      0   24160  211.3375       B5        S    2    NaN
1      1      2  113781  151.5500  C22 C26        S   11    NaN
2      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3      1      2  113781  151.5500  C22 C26        S  NaN  135.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
   pclass  survived                                  name     sex    age  \
0       1         1         Allen, Miss. Elisabeth Walton  female  29.00
1       1         1        Allison, Master. Hudson Trevor    male   0.92
2       1         0          Allison, Miss. Helen Loraine  female   2.00
3       1         0  Allison, Mr. Hudson Joshua Creighton    male  30.00

   sibsp  parch  ticket      fare    cabin embarked boat   body  \
0      0      0   24160  211.3375       B5        S    2    NaN
1      1      2  113781  151.5500  C22 C26        S   11    NaN
2      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3      1      2  113781  151.5500  C22 C26        S  NaN  135.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
[answer16]

df[:4]

In [79]:
# 【17】
# dfのindex(行)の4行目から10行目までを表示
#print(ans[17]) #回答表示
df = initialize1() #初期化

df[3:10]

print(ans[17])

[answer17]

df[3:10]

In [85]:
# 【18】
# locを使ってdf全体を表示
#print(ans[18]) #回答表示
df = initialize1() #初期化

print(df.loc[:])

print(ans[18])

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex    age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.00      0      0   24160  211.3375       B5        S    2
1       male   0.92      1      2  113781  151.5500  C22 C26        S   11
2     female   2.00      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.00      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.00      1      2  113781  151.5500  C22 C26        S  NaN
...      ...    ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.50      1      0    2665   14.4542      NaN        C  NaN
1305  female    NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.50      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.00      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.00      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]
[answer18]

df.loc[:,:]

In [91]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [93]:
# 【19】
# locを使ってdfのfare列をすべて表示
#print(ans[19]) #回答表示
df = initialize1() #初期化

print(df.loc[:, "fare"])

print(ans[19])

0       211.3375
1       151.5500
2       151.5500
3       151.5500
4       151.5500
          ...
1304     14.4542
1305     14.4542
1306      7.2250
1307      7.2250
1308      7.8750
Name: fare, Length: 1309, dtype: float64
[answer19]

df.loc[:,'fare']

In [101]:
# 【20】
# locを使ってdfのfare列の10のラベルまで表示
#print(ans[20]) #回答表示
df = initialize1() #初期化

print(df.loc[:10, "fare"])

print(ans[20])

0     211.3375
1     151.5500
2     151.5500
3     151.5500
4     151.5500
5      26.5500
6      77.9583
7       0.0000
8      51.4792
9      49.5042
10    227.5250
Name: fare, dtype: float64
[answer20]

df.loc[:10,'fare']

In [103]:
# 【21】
# locを使ってdfのnameとticketの列をすべて表示
#print(ans[21]) #回答表示
df = initialize1() #初期化

df.loc[:, ["name", "ticket"]]
print(ans[21])

[answer21]

df.loc[:,['name','ticket']]

In [ ]:
# 【22】
# locを使ってdfのnameからcabinまでの列をすべて表示
#print(ans[22]) #回答表示
df = initialize1() #初期化
df.head()
df.loc[:, "name":"cabin"]

print(ans[22])

[answer22]

df.loc[:,'name':'cabin']

In [114]:
# 【23】
# ilocを使ってdfのage列を5行目まで表示
#print(ans[23]) #回答表示
df = initialize1() #初期化

df.head()
print(df.iloc[:5, 4])
print(ans[23])

0    29.00
1     0.92
2     2.00
3    30.00
4    25.00
Name: age, dtype: float64
[answer23]

df.iloc[:5,4]


[tips]
ilocは抽出する行、列を番号で指定

In [117]:
# 【24】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
#print(ans[24]) #回答表示
df = initialize1() #初期化

df_copy = df[["name", "age", "sex"]]
df_copy.to_csv(r"D:\program\programming\study\Pandas_100_knocks\output\sample.csv")

print(ans[24])

[answer24]

df_copy = df[['name','age','sex']]
df_copy.to_csv('../output/sample.csv')


[Tips]
・to_csvでcsv形式で出力
・行番号、列名を削除して出力したいときは
　index=None,header=Noneをつける

df_copy.to_csv('../output/sample.csv',index=None,header=None)

In [119]:
# 【25】
# dfのage列の値が30以上のデータのみ抽出
#print(ans[25]) #回答表示
df = initialize1() #初期化

df[df["age"] >= 30]

print(ans[25])

[answer25]

df[df['age'] >= 30]

In [124]:
# 【26】
# dfのsex列がfemaleのデータのみ抽出
#print(ans[26]) #回答表示
df = initialize1() #初期化
df.head()
df[df["sex"] == "female"]

print(ans[26])

[answer26]

df[df['sex'] == 'female']

In [130]:
# 【27】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
#print(ans[27]) #回答表示
df = initialize1() #初期化

df[(df["sex"] == "female") & (df["age"] >= 40)]

print(ans[27])

[answer27]

df[(df['sex'] == 'female' ) & (df['age'] >= 40)]

In [133]:
# 【28】
# queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出
#print(ans[28]) #回答表示
df = initialize1() #初期化

df.query('sex == "female" & age >= 40')

print(ans[28])

[answer28]

df.query('sex == "female" & age >= 40 ')

In [141]:
# 【29】
# dfのname列に文字列「Mrs」が含まれるデータを表示
#print(ans[29]) #回答表示
df = initialize1() #初期化

df["name"].str.contains("Mrs").value_counts()

print(ans[29])

[answer29]

df.query('name.str.contains("Mrs")', engine='python')


[Tips]
特定の文字列を含むデータを抽出したいときは
str.contains()を使用
engine='python'を指定しないとエラーが出る

In [ ]:
# 【30】
# dfの中で文字列型の列のみを表示
#print(ans[30]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【31】
# dfの各列の要素数の確認
#print(ans[31]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【32】
# dfのembarked列の要素と出現回数の確認
#print(ans[32]) #回答表示
df = initialize1() #初期化

# データ加工 (33 - 58)

In [ ]:
# 【33】
# dfのindex名が「3」のage列を
# 30から40に変更し、先頭の5行を表示
#print(ans[33]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【34】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示
#print(ans[34]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【35】
# dfのfare列に100を足して、
# 先頭の5行を表示
#print(ans[35]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【36】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
#print(ans[36]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【37】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
#print(ans[37]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【38】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
#print(ans[38]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【39】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[39]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【40】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[40]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【41】
# dfからbodyの列を削除し、最初の5行を表示
#print(ans[41]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【42】
# dfからインデックス名「3」の行を削除し、最初の5行を表示
#print(ans[42]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【43】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
#print(ans[43]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【44】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
#print(ans[44]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【45】
# df2のインデックス名「1」を「10」に変更
# df2の最初の5行を表示
#print(ans[45]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【46】
# dfのすべての列の欠損値数を確認
#print(ans[46]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【47】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
#print(ans[47]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【48】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
#print(ans[48]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【49】
# dfのsurvivedの列をndarray形式(配列)で表示
#print(ans[49]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【50】
# dfの行をシャッフルして表示
#print(ans[50]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【51】
# dfの行をシャッフルし、インデックスを振り直して表示
#print(ans[51]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【52】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
#print(ans[52]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【53】
# dfのnameの列をすべて大文字に変換し表示
#print(ans[53]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【54】
# dfのnameの列をすべて小文字に変換し表示
#print(ans[54]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【55】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
#print(ans[55]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【56】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
#print(ans[56]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【57】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
#print(ans[57]) #回答表示

In [ ]:
# 【58】
# df2の行と列を入れ替えて表示
#print(ans[58]) #回答表示
df2 = initialize2() #初期化

# マージと連結(59 - 65)

In [ ]:
# 【59】
# df2にdf3を左結合（結合キーはname）し、df2に格納
#print(ans[59]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【60】
# df2にdf3を右結合（結合キーはname）し、df2に格納
#print(ans[60]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【61】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
#print(ans[61]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【62】
# df2にdf3を外部結合し、df2に格納
#print(ans[62]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【63】
# df2とdf4を列方向に連結し、df2に格納
#print(ans[63]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【64】
# df2とdf4を列方向に連結後、重複している
# name列の片方を削除し、df2に格納
#print(ans[64]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【65】
# df2とdf4を行方向に連結し、df2に格納
#print(ans[65]) #回答表示
df2 = initialize2() #初期化

# 統計 (66 - 79)

In [ ]:
# 【66】
# dfのage列の平均値を確認
#print(ans[66]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【67】
# dfのage列の中央値を確認
#print(ans[67]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【68】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
#print(ans[68]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【69】
# df2のEnglishで得点の最大値
#print(ans[69]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【70】
# df2のEnglishで得点の最小値
#print(ans[70]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【71】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
#print(ans[71]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【72】
# dfの基本統計量を確認(describe)
#print(ans[72]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【73】
# dfの各列間の(Pearson)相関係数を確認
#print(ans[73]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【74】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[74]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【75】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[75]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【76】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
#print(ans[76]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【77】
# dfのfare列の最大値、最小値の行名を取得
#print(ans[77]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【78】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
#print(ans[78]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【79】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
#print(ans[79]) #回答表示
df = initialize1() #初期化

# ラベリング (80 - 81)

In [ ]:
# 【80】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
#print(ans[80]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【81】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
#print(ans[81]) #回答表示
df = initialize1() #初期化

# Pandasプロット (82 - 89)
Pandasプロットの機能については以下のサイトの説明が分かりやすいです  
[自調自考の旅](https://own-search-and-study.xyz/2016/08/03/pandas%E3%81%AEplot%E3%81%AE%E5%85%A8%E5%BC%95%E6%95%B0%E3%82%92%E4%BD%BF%E3%81%84%E3%81%93%E3%81%AA%E3%81%99/)

In [ ]:
# 【82】
# dfのすべての数値列のヒストグラムを表示
#print(ans[82]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【83】
# dfのage列をヒストグラムで表示
#print(ans[83]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【84】
# df2のname列の要素ごとの3科目合計得点を棒グラフで表示
#print(ans[84]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【85】
# df2のname列の要素ごとの3科目を棒グラフで
# 並べて表示
#print(ans[85]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【86】
# df2のname列の要素ごとの3科目を積み上げ棒グラフで表示
#print(ans[86]) #回答表示
df2 = initialize2() #初期化

In [ ]:
# 【87】
# dfの各列間の散布図を表示
# (from pandas.plotting import scatter_matrixをインポート)
#print(ans[87]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【88】
# dfのage列とfare列で散布図を作成
#print(ans[88]) #回答表示
df = initialize1() #初期化

In [ ]:
# 【89】
# 【88】で描画したグラフに「age-fare scatter」という
# グラフタイトルをつける
#print(ans[89]) #回答表示
df = initialize1() #初期化

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
#print(ans[90]) #回答表示
df_copy =df.copy()

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
#print(ans[91]) #回答表示

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
#print(ans[92]) #回答表示

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
#print(ans[93]) #回答表示

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
#print(ans[94]) #回答表示

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
#print(ans[95]) #回答表示

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
#print(ans[96]) #回答表示

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
#print(ans[97]) #回答表示

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
#print(ans[98]) #回答表示

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
#print(ans[99]) #回答表示

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
#print(ans[100]) #回答表示

# ノックお疲れ様でした
各セルのoutput表示をすべてクリアにしたい場合は、ツールバーの  
「Kernel」→「Restart & Clear Output」を実行して下さい。